body{
display: block;
height: 100vh;
}
main{
  display: flex;
  box-shadow: 8px 8px 10px lightgrey;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-color: LightGray;
  border-width: .5px;
  border-radius: 15px 15px 5px 5px;;
  background-color: white;
  margin: auto;
  width: 60%;
  height: 60vh;
  padding: 10px;
  margin-bottom:2%;
  overflow: auto;
}

header{
    height: 10vh;
    maring-bottom: -10px;

}
#paints {
  display: block;
  border-style: solid;
  border-color: LightGray;
  border-width: .25px;
  background-color: white;
  width: 100%;
  height: 24vh;
  margin: auto;
  width: 60%;
  padding: 10px;
  justify-content: center;
}

.circle{
  border-radius: 75%
}

#myColor {
  display: block;
  text-align: center;
  clear: right;
  font-family: Helvetica;
  font-variant: small-caps;
}

h1 {
  display: block;
  font-family: Helvetica;
  font-variant: small-caps;
  margin-bottom: -20px;
  text-align: center;
  text-shadow: 2px 2px 2px darkgray;
}

h3 {
  display: block;
  font-family: Helvetica;
  font-variant: small-caps;
  text-align: center;
  color: darkgray;
}
